@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065FC;
  --footer-color: #e1f5fe;
  --light-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  margin-bottom: 8px;
  text-align: center;
}

h2,
h3 {
  text-align: center;
}

/****** Header ***********/
header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a:hover {
  background-color: var(--light-color);
}

nav a {
  margin-right: 30px;
  padding-top: 20px;
  border-top: 2px solid transparent;
}

.logo > img {
  width: 61px;
}

#accueil {
  padding: 20px;
  text-align: center;
  background-color: var(--light-color);
  border-radius: 10px;
  margin: 5px;
}
#accueil p {
  font-size: 1em;
  line-height: 1.8;
}
#accueil ul {
  list-style: none; /* Убираем стандартные маркеры списка */
  padding: 0;
}
#accueil li {
  display: flex;
  justify-content: center;
  gap: 10px; /* Добавляем отступ между иконкой и текстом */
  margin-bottom: 10px;
}
#accueil li img {
  width: 24px; /* Устанавливаем размер иконок */
  height: 24px;
}
#accueil #apropos {
  display: flex;
  flex-direction: row;
}
#accueil #apropos #img-presentation {
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
}
#accueil img {
  width: 100%;
  height: auto;
  /* Сохранит пропорции */
  display: block;
  /* Убирает лишние отступы снизу */
  border-width: 5px;
  border-radius: 10px;
}

.cours {
  padding: 20px;
  text-align: center;
  background-color: rgba(250, 250, 3, 0.196);
  border-radius: 10px;
  margin: 5px;
  /* padding: 30px; */
}

.grid-paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  gap: 15px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lien-conteneur-photo {
  position: relative;
}

.photo-container:hover img {
  transform: scale(2);
  /* Увеличиваем изображение */
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

/****** Footer ***********/
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-color);
  padding: 10px;
  padding-left: 0;
  border-radius: 10px;
}

footer a {
  margin: 1em 0;
}

a svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

a:hover svg {
  transform: scale(1.2);
  /* Увеличение при наведении */
}

footer svg {
  display: block;
  /* Избегаем пустых inline-отступов */
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
/* Small devices (phones, less than 768px) */

/*# sourceMappingURL=style.css.map */
